mat-grid-tile {
  background: lightblue;
}
.container {
  margin: 0 auto;
  width: 80%;
}
.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px auto;
}
mat-card {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  height: 150px;
}
