<div class="example-flex-container">
  <button mat-stroked-button disabled >Randomise teams (2)</button>
  <button mat-stroked-button (click)="makeTeams(3)" disabled >Randomise teams (3)</button>
  <button mat-stroked-button [disabled]="true" >Randomise teams (4)</button>
</div>

<mat-card appearance="outlined" *ngFor=" let team of teams" class="team-card">
  <mat-card-header>
    <mat-card-title>{{team.team }}</mat-card-title>
  </mat-card-header>
  <mat-card-content ><app-list-tile [team]="team"></app-list-tile></mat-card-content>
</mat-card>


