<div>
  <mat-toolbar [color]="'primary'">
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
    <span>Team Maker</span>
    <span class="example-spacer"></span>
    <button (click)="makeTeams()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon >shuffle</mat-icon>
    </button>
  <!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>-->
  </mat-toolbar>

  <br/>
  <br/>
  <h3>Teams</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Enter names:</mat-label>
      <input matInput type="text" id="nameInput" [(ngModel)]="name"
             (keyup.enter)="addName()" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button  (click)="addName()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </form>
<!--  <div *ngFor="let team of teams">

    <div class="card-container">
      <div class="card">
        <div class="card__header">Team {{team.id}}</div>
        <div class="card__content" *ngFor="let member of team.members">{{member}}</div>
      </div>
    </div>
  </div>


</div>-->
<div class="card-container">
  <div class="card" *ngFor="let team of teams">
    <mat-card>
      <mat-card-header><h1>Team {{team.id}}</h1></mat-card-header>
      <mat-card-content class="card__content" *ngFor="let member of team.members">{{member}}
      </mat-card-content>
    </mat-card>

  </div>
</div>
</div>
<div class="pill" *ngFor="let op of names">{{op}}</div>


