.example-spacer {
  flex: 1 1 auto;
}
.card-container {
  background: lightblue;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: calc(100% / 6); /* Adjust as needed */
  border: 1px solid #ffff;
  padding: 20px;
  box-sizing: border-box;
}
.pill {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff; /* Blue color, you can change it */
  color: #fff; /* White text, you can change it */
  border-radius: 20px; /* Adjust as needed to get the desired pill shape */
}
