<div>
  <mat-toolbar [color]="'primary'">
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
    <span>Team Maker</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


  <label for="nameInput">Enter names:</label>
  <input type="text" id="nameInput" [(ngModel)]="name" (keyup.enter)="addName()">
  <button (click)="addName()">Add Name</button>
  <button (click)="makeTeams()">Make Teams</button>
  <hr>
  <br/>
  <h3>List of Operators</h3>
  <hr>
  <div *ngFor="let ops of names">
    <li>{{ops}}</li>
  </div>
  <div *ngFor="let team of teams">
    <h3>Team {{team.id}}</h3>
    <ul>
      <li *ngFor="let member of team.members">{{member}}</li>
    </ul>
  </div>
</div>
